<h1 class='text-center'>Welcome to The Game of WAR!</h1>

<br />

<div class="text-center">
<% if logged_in? %>
<%= link_to 'Play a random player', '#', class: 'btn btn-primary' %>
<%= link_to 'Play a friend', '#', class: 'btn btn-primary' %>
<%= link_to 'Play a computer', '#', class: 'btn btn-primary' %>
<% else %>
<%= link_to 'Login to Play!', login_path , class: 'btn btn-primary' %>
<% end %>
</div>
