<!-- Leadboard page -->

<h1>War Leaderboard</h1>


<table class='table'>
<thead>
<th>User Name</th>
<th>Total Wins</th>
<th>Total Losses</th>
</thead>
<% if @users.any? %>
<tbody>
  <% @users.each do |user| %>
  <tr>
  <td><%= user.user_name %></td>
  <td><%= user.wins %></td>
  <td><%= user.losses %></td>
  </tr>
  <% end %>
</tbody>
<% end %>
</table>
